<h1>Battle</h1>
<body class="player-details">
  <form method="POST" action="/names">
    <label for="player1">Player 1: </label>
    <input class="left" name="player1" type="text">
    <br>
    <label for="player2">Player 2: </label>
    <input class="left" name="player2" type="text"><br><br>
    <input type="submit" value="Submit">
  </form>
<body>