<form method="POST" action="/names">
  <label for="player1">Player 1: </label>
  <input name="player1" type="text">
  <br>
  <label for="player2">Player 2: </label>
  <input name="player2" type="text">
  <input type="submit" value="Submit">
</form>