<form method="POST" action="/names">
  <label for="name1">name1</label>
  <input name="name1" type="text">
  <br>
  <label for="name2">name2</label>
  <input name="name2" type="text">
  <input type="submit" value="Submit">
</form>